.quiz {
    /* border: 2px solid black; */
    width: 1100px;
    height: 350px;
    margin: auto;
    margin-top: 150px;
    background-color: gray;
    margin-left: 200px;
}

.header {
    border: 2px solid black;
    margin: 3px 3px 0px 3px;
}

.header h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 38, 0);
}

.question .ques {
    border: 2px solid black;
    margin: 3px 3px 3px 3px;
}

.question .ques h3 {
    width: 900px;
}